---
layout: page
title: Categories
permalink: /categories/
---
<div class="categories-container">
    <h1>Category</h1>
    <ul class="category-list">
        {% assign category_tree = "" %}
        {% for post in site.posts %}
            {% for category in post.categories %}
                {% unless category_tree contains category %}
                    {% assign category_tree = category_tree | append: "," | append: category %}
                {% endunless %}
            {% endfor %}
        {% endfor %}

        {% assign category_tree = category_tree | split: "," | sort %}
        
        {% for category in category_tree %}
            {% assign subcategories = "" %}
            <li>
                <strong>{{ category }}</strong>
                <ul>
                    {% for post in site.posts %}
                        {% if post.categories contains category %}
                            {% assign subcategories = subcategories | append: "," | append: post.categories | join: "/" %}
                        {% endif %}
                    {% endfor %}
                    {% assign subcategories = subcategories | split: "," | uniq | sort %}
                    {% for subcategory in subcategories %}
                        {% if subcategory != category %}
                            <li><a href="#{{ subcategory | slugify }}">{{ subcategory }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    {% for category in category_tree %}
        <h2 id="{{ category | slugify }}">{{ category }}</h2>
        <ul>
            {% for post in site.posts %}
                {% if post.categories contains category %}
                    <li>
                        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>

